<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets/img/Logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right right mr-auto" id="navbarText">
        <span class="navbar-text text-right right ml-auto">
            <app-navbar (dataEvent)="receivedDataImage($event)"
                        (menuEvent)="receivedDataMenu($event)"></app-navbar>
        </span>
    </div>
</nav>

<app-wallpapper></app-wallpapper>

<div class="container">​

    <div class="menu">
        <app-navbar (dataEvent)="receivedDataImage($event)" 
                    (menuEvent)="receivedDataMenu($event)"></app-navbar>
    </div>

    <br>

    <div *ngIf="load">
        <div class="card-columns">
            <div class="card" *ngFor="let p of data">
                <img [src]="p.urls.small" class="card-img">​
                <div class="card-img-overlay">

                    <h5 class="card-title" *ngIf="p.description; else sinTitutlo">
                        CREATIVE LOGO
                    </h5>
                    <ng-template #sinTitutlo>
                        <h5 class="card-title">
                            Sin titulo
                        </h5>
                    </ng-template>
                    <span class="linea"></span>
                    <p class="type">{{ menu }}</p>
                </div>
            </div>
        </div>
        <button class="btn btn-pink m-auto d-block pl-5 pr-5" style="max-width: 400px;" (click)="loadMore()">SHOW ME MORE</button>
    </div>
</div>​

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form (ngSubmit)="search(searchInput.value)">
                    <div class="form-group">
                        <label>Buscar imagenes</label>
                        <input type="text" 
                        class="form-control" 
                        #searchInput placeholder="(Programing, Application, etc...)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

